/* sass file that assigns specific fonts. */
$breakpoints: (
    "no-screen": 0,
    "small-screen": 320px,
);

@mixin no-screen {
    @media (max-width: map-get($breakpoints, "no-screen")) {
        @content;
    }
}

@mixin small-screen {
    @media (max-width: map-get($breakpoints, "small-screen")) {
        @content;
    }
}

h1 {
    font-size: 20px;
    @include small-screen {
        font-size: 14px;
    }
}
